h1 {
    text-align: center;
    color: darkorange;
    font-size: 3.5em;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
    color: cornflowerblue;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
}
