h1 {
    text-align: center;
    color: darkorange;
    font-size: 3.5em;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
    color: cornflowerblue;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: antiquewhite;
    width: 100%;
    margin: 0;
}

div#cat {
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}
