h1 {
    color: rgb(159, 226, 206);
    text-align: center;
    font-size: 6em;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: rgb(235, 83, 13);
    text-align: center;
    font-size: 2em;
    word-break: keep-all;
}
