<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POPCAT.RODELA</title>
</head>
<body style="background-color:antiquewhite";>
<style>
    h1{
        text-align: center; 
        color: darkorange; 
        font-size: 4em;
        font-family: 'Courier New', Courier, monospace;
        } 
    h2{
        text-align: center; 
        color:cornflowerblue; 
        font-size: 3em;
        font-family: 'Courier New', Courier, monospace;
        } 
</style>
<h1>NEXT LUCKY NUMBER:<br>1000</h1>
<h2>1000</h2>
<div style="text-align : center;">
    <img src="{% static 'polls/close.png' %}" alt="popcat" width="400" height="600">
</div>
</body>
</html>
