{% extends 'polls/base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'polls/css/index.css' %}">
{% endblock %}

{% block content %}
    <div id="content">
        <div id="text">
            <h1 id="lucky">TOUCH SCREEN<br>TO START</h1>
            <h2 id="count">0</h2>
        </div>

        <div id="cat">
            <img id="close" src="{% static 'polls/images/close.png' %}">
            <img id="open" src="{% static 'polls/images/open.png' %}" hidden>
        </div>
    </div>
    <audio id="sound" src="{% static 'polls/sounds/pop.mp3' %}" hidden></audio>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        const sound_src = "{% static 'polls/sounds/pop.mp3' %}";
    </script>
    <script src="{% static 'polls/js/count.js' %}"></script>
    <script src="{% static 'polls/js/interactive.js' %}"></script>
{% endblock %}
