{% extends 'polls/base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'polls/css/win.css' %}">
{% endblock %}

{% block content %}
    <div id="content">
        <div id="text">
            <h1>🎉 LUCKY!</h1>
            <h2>스크린샷 후 부스로 오세요!</h2>
            <h2>CODE: {{ secret }}</h2>
        </div>
        <div id="cat">
            <img src="{% static 'polls/images/popcatrazer.png' %}" alt="popcat">
        </div>
    </div>
    <script src="{% static 'polls/js/interactive.js' %}"></script>
{% endblock %}
